#container {
  display: flex;
  flex-wrap: wrap;
}

.user-tile {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 5px;
  border: 2px solid #333;
  background-color: #000;
}

.user-tile video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#controls {
  margin: 10px 0;
}